*, *::before, *::after{
   box-sizing: border-box;
   margin :0;
   padding :0;
   color: var(--base);
}

:root{
    --base-200: #555;
    --base: #f1f1f1;
    --base-100: #000;
    --red:  #FF0000;
    --red-100: #fa8368;
    --red-800:#78281f;
    --blue: #0a61ae;
    --blue-100:#0a61ae;
}

body{
        font-family: "New Amsterdam", sans-serif;
        font-weight: 400;
        font-style: normal;
        background-color: var(--base-100);
        
      
}
 a{
     text-decoration: none;

     }   

header{
        padding-top:10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        max-width: 1440px;
        margin: auto;
        border-bottom: 1px solid var(--base);
        .logo-holder{
           display: flex;
           padding: 10px;
           align-items: center;
           .logo{
              display: flex;
              background-color: var(--base-100);
              align-items: center;
              justify-content: center;
              font-size:32px;
              color: var(--red);
              height: 60px;
              width: 60px;
              margin-right:10px;
              border-radius:50%;
           }
           .logo-name{
            font-size:32px;
            flex:1;
            padding: 10px;
            margin-left:15px;
            border: 1.6px solid red;
            border-radius:10px;
            /* text-decoration: none; */
             &:hover{
                background-color:red;
                
             }
           } 
        }
        nav{
          display:flex;
          align-items: center;
          ul{
             display: flex;
             align-items: center;
             gap: 5px;
             list-style-type: none;
             font-size:25px;
             li{
                display: inline-block;
                a{ 
                  display: inline-block;
                  padding: 10px 20px;
                  &:hover{
                        background-color:var(--base-200);
                        border-radius:10px;
                        
                       }
                }
              }
           }
           .mobile-toggle{
                display: none;
                color:var(--base);
                padding: 10px;
                @media(max-width: 768px){
                        display: inline-block;
                        position: absolute;
                        top:20px;
                        right:20px;

                }

           }
        }
        @media(max-width: 1024px){
                flex-direction: column;
                align-items:center;
        }
        @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;   
                width:100%;  
              nav{
                
                margin-top: -5px; 
                width:100%;
                ul{ 
                    display: none;
                    flex-direction: column;
                    text-align: center;
                    width:100%;
                    li{
                     width:100%;
                     a{
                        width: 100%;
                     }
                     }
                      &.action{
                        display: flex;
                      }
                  }
   
               }
              
        }
}
h1{
   font-size:32px;
}
.call-to-action{
   margin-top: 5px;
   .button{
      display: inline-block;
      padding: 3px 10px;
      margin-right: 10px;
      background-color: var(--red);
      border-radius: 10px;
      transition: ease 0.3s all;
    }
   a{
       &:hover{
        background-color: var(--base-100);    
       }
    }
    @media(max-width: 768px){
      display: none;
     }

 }
 .social{
   display: flex;
   margin-top: 10px;
   width: auto;
   height: auto;
   width: 70px;
   .githubIcon{
      background-color: #fcfbfb;
      border-radius: 50%;
      width:auto;
      height:51px;
      img{
        width: auto;
   }
   }
   .linkedinIcon{
           display :inline-block;
           background-color: #0663f9;
           border-radius: 50%;
           width:auto;
           height:51px;
           margin-left: 5px;
           img{
              width: auto;
         }
    }
    @media(max-width: 768px){
      display: none;
     }

   }
.hero-container{
     max-width: 1440px;
     margin:auto;
     display:flex;
     padding : 10px;
     gap: 10px;
     height: auto;
     width: 100%;
     @media(max-width: 1440px){
      padding-left:20px;
      padding-right:20px;
    }
    /* @media(max-width: 1048px){
       flex-direction: column;
    } */
     .textAboutMe{
        flex:2;
        display:flex;
        padding : 23px;
        border-radius: 50px;
        border-bottom-right-radius: 5%;
        border-bottom-left-radius: 5%;
        flex-direction: column;
        justify-content: center;
        h1{
         font-size:55px;
         line-height: 1;
        }
        small{
         font-weight: 200;
         font-size: 30px;
        }
        font-size: 25px;
        border: 1.6px solid #fcfbfb;
         @media(max-width: 1024px){
         font-size: 20px;
         h1{
            font-size:40px;
            line-height: 1;
            letter-spacing: 1.5px;

           }
         small{
            font-size: 20px;
         }
        }
         @media(max-width: 768px){
            h1{
               font-size:40px;
               line-height: 1;
               letter-spacing: 1.5px;

              }
            small{
               font-size: 20px;
            }
            font-size: 20px;
          }
         }
     
   .heroAndSocial{
      display: flex;
      flex-direction: column;
      flex:1;
     .myPhoto{  
        width: 100%;
        height: 100%;
        background-color: #000;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        display:flex;
        border: 1.6px solid #fcfbfb;
        flex-direction: column;
        justify-content:flex-end;
        img{    
                margin-top: -20px;
                width: 100%;
                height: auto;
                object-fit: contain;      
        }
        @media(max-width: 600px){
         height: 200px;
        }
      }
      .call-to-action{
         display: none;
         font-size: 19px;
         @media(max-width: 768px){
            display: flex;
           }
       }
       .social{
         display: none;
         @media(max-width: 768px){
            display: flex;
         }
       }
         
      
     }
   }